/* Organizando estilo da página inicial */
.titulo-b{
    text-align: center;
    margin-top: 20px;
}
.listafilme-b {
    max-width: 880px;
    margin: 14px auto;
}

.listafilme-b article{
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 4px;
}

/* Ajuste de imagem */
.listafilme-b img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit:contain;
    /* ou object-fit: cover; */
    background-color: azure;
}

/* Ajuste de fonte */
.listafilme-b strong{
    margin-bottom: 14px;
    text-align: center;
    font-size: 22px;
    display: block;
}

/* Ajuste de botão acessar */
.listafilme-b a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0;
    font-size: 24px;
    background-color: azure;
    color: dodgerblue;
}

/* Ajuste loadding para carregamento da pagina */
.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14px;
}